<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/bulma.css") }}">
    <title>PlaylistTools</title>
</head>
<body>
    <section class="hero is-black">
        <div class="container">
            <div class="title">
                <h1>
                    <a href="{{ url_for("index") }}" class="title active">1001tl to Playlist</a><br>
                </h1>
            </div>
            <div class="main-block">
                {% block content %}
                {% endblock %}
            </div>
            <div class="btm-menu">
                <br>
                <a href="http://leanderto.de" class="btm-menu-link">leanderto</a> | <a href="{{ url_for("imprint") }}" class="btm-menu-link">imprint</a>
            </div>
        </div>
    </section>
</body>
</html>